<header id="header">
	
	<div class="wrapper">
			<h1 id="logo-image">
				<%= link_to "auth/facebook" do %><%= image_tag('facebook.ico', width: '80', height: '80')%>
                <% end %>
                <p>
                	or<br>
                <%= link_to "Guest access", posts_path %>
                </p>
			</h1>
		
	</div><!--end:wrapper-->
</header>